body {
  background-color: hsl(33, 40%, 92%);
}
h1 {
  margin-left: 20px;
  margin-right: 20px;
  color: hsl(0, 44%, 38%);
  font-family: "Monaco", monospace;
}
h2,p {
  margin-left: 20px;
  margin-right: 20px;
  color: hsl(0, 44%, 38%);
  font-family: "Courier New", monospace;
}

.navbar {
  overflow: hidden;
  background-color: hsl(0, 44%, 38%);
}

.navbar a {
  float: left;
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Monaco", monospace;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Monaco", monospace;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn{
  background-color: hsl(0, 47%, 58%);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsl(33, 40%, 92%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  font-family: "Monaco", monospace;
  color: hsl(0, 44%, 38%);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover{
  background-color: hsl(0, 39%, 83%);
}
.dropdown:hover .dropdown-content {
  display: block;
}
img{
  margin-top: 5px;
  width: 1502px;
  height: 420px;
}

.gif{
  margin-top: 40px;
  margin-left: 25px;
}
.quots{
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 60px;
  margin-bottom: 40px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

