body {
  background-image: url("https://cdn.glitch.global/5eef1545-b4f1-46ba-830e-4e46539b59ae/M%C3%A1rmore%203.png?v=1671026427851");
  background-repeat: no-repeat;
}
h1 {
  font-family: "Monaco", monospace;
  text-align: center;
  color: hsl(0, 60%, 50%);
  margin-top: 100px;
  font-size: 70px;
}
h2 {
  font-family: "Courier New", monospace;
  text-align: center;
  color: hsl(0, 60%, 50%);
  margin-top: 2px;
  
}
button {
  padding: 10px 24px;
  background-color: hsl(0, 60%, 50%);
  border: none;
  color: hsl(33, 40%, 92%);
  text-align: center;
}
